body{
    background-image: url("imagenes/fondo.jpg");
    background-size: cover;
    text-align:center;
}

*{
    padding: 0px;
    margin: 0px;
}

#header{
    margin:auto;
    width: 900px;
    font-family: 'Cascadia Code SemiLight';
    font-size: 18px;
    float: left;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: black;
    color: rgb(224, 163, 78);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav > li{
    float:left;
}

.contenedor{
    position:relative;
    display: inline-block;
}

.texto1{
    position: absolute;
    top: 120px;
    left: 10%;
    font-family: 'Century Schoolbook';
    font-size: 20px;
    color: white;
}

.texto2{
    position: absolute;
    top: 580px;
    left: 10%;
    font-family: 'Century Schoolbook';
    font-size: 20px;
    color: white; 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 5px 5px 8px red;
}


